#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
include /usr/share/dpkg/default.mk

%:
	dh $@

override_dh_auto_build:
	dh_auto_build -- CFLAGS="$(CFLAGS) $(CPPFLAGS)" LDFLAGS="$(LDFLAGS)"

override_dh_auto_install:
	install -D -m0755 sign debian/obs-signd/usr/bin/sign
	install -D -m0755 signd debian/obs-signd/usr/sbin/signd
	install -D -m0644 sign.conf debian/obs-signd/etc/sign.conf
	install -D -m0644 debian/obs-signd.default debian/obs-signd/etc/default/obs-signd
	install -D -m0644 dist/sign.permission debian/obs-signd/usr/share/doc/obs-signd/examples/sign.permission

override_dh_auto_test:
	dh_auto_test

override_dh_fixperms:
	dh_fixperms
	chmod 0750 debian/obs-signd/usr/bin/sign
